.change-password {
    min-height: 100vh;
    padding-top: 25vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    box-sizing: border-box;
}

.change-password h2 {
    font-weight: 800;
    font-size: 36pt;
    color: #075E81;
    text-align: center;
    margin-bottom: 40px;
}

.change-password-container {
    height: auto;
    width: 700px;
    margin: auto;
    padding: auto;
}

.input-control-cp {
    max-width: 100%;
    margin-bottom: 8px !important;
}

.label-control-cp {
    white-space: nowrap; 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    box-sizing: border-box;
    min-width: 250px !important;
}

.btn-margin-control-cp {
    margin-top: 30px !important;
}

@media (max-width: 768px) {
    .change-password {
        padding-top: 75px;
    }
    .change-password h2 {
        font-size: 28pt; /* Tamaño más pequeño para pantallas medianas */
    }

    .change-password-container {
        width: 90%; /* Reducir el ancho a 90% para tabletas */
        padding: 0 10px; /* Añadir un pequeño padding */
    }

    .label-control-cp {
        min-width: 100%; /* Hacer que las etiquetas ocupen el 100% del contenedor */
    }

    .input-control-cp {
        margin-bottom: 12px; /* Más espacio en inputs */
    }
}

@media (max-width: 480px) {
    .change-password {
        padding-top: 55px;
    }
    .change-password h2 {
        font-size: 24pt; /* Tamaño más pequeño para pantallas de móviles */
    }

    .change-password-container {
        width: 100%; /* Hacer que el contenedor ocupe todo el ancho */
        padding: 0 22px; /* Añadir más espacio a los lados */
    }

    .label-control-cp {
        font-size: 12pt; /* Ajustar el tamaño de la fuente de la etiqueta */
    }

    .input-control-cp {
        margin-bottom: 15px; /* Aumentar espacio entre inputs */
    }

    .btn-margin-control-cp {
        margin-top: 20px; /* Reducir el margen para botones en móviles */
    }
}